<div *ngIf="!empty">
  <h3 *ngIf="isLogged">
    To jest Twoje konto!
  </h3>
  <div>
    <ul>
      <h3>Użytkownik: {{ user?.name }}</h3>
      <li>Nazwa użytkownika: {{ user?.name }}</li>
      <li>Ocena: {{user?.grade}}/10</li>
      <li>Data rejestracji: {{user?.dateRegistration}}</li>
      <li>
        Komentarze:
        <ul>
          <li *ngFor="let comment of user?.comments">
            <ul>
              <li>Dodał: 
                <a routerLink="../../users/{{comment.id}}">{{comment.user}}</a>
              </li>
              <li>Data dodania: {{comment.date}}</li>
              <li>Treść komentarza:
                <p>{{comment.content}}</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="./games">Lista gier użytkownika</a>
      </li>
      <li>
        <a routerLink="./searched-games">Lista poszukiwanych gier przez użytkownika</a>
      </li>
      <router-outlet></router-outlet>
    </ul>
  </div>
</div>
<div *ngIf="empty">
  Nie ma takiego użytkownika!
</div>
